repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.7
    hooks:
      - id: ruff
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0 # Use the latest version
    hooks:
      - id: mypy
        files: ^jvcprojector/
        args: [--namespace-packages, --explicit-package-bases, --ignore-missing-imports ]
